<section class="metadata">
  <form class="tag-entry">
    <input type="text" name="tags" placeholder="Tags">
  </form>
  <ul class="timestamps">
    <li>Created: <time>{{noteCtrl.note.created_at | date:'short'}}</time></li>
    <li>Updated: <time>{{noteCtrl.note.updated_at | date:'short'}}</time></li>
  </ul>
</section>
<section class="note-title">
  <h2><input type="text" placeholder="Title Goes Here"
    ng-model="noteCtrl.note.title" ng-change="noteCtrl.update()" ng-model-options="{ debounce: 300 }"></h2>
</section>
<section class="note-body">
  <textarea ng-model="noteCtrl.note.content" ng-change="noteCtrl.update()" ng-model-options="{ debounce: 300 }" placeholder="text goes here"></textarea>
</section>
